<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4">
      <% if @movie.image.attached? %>
        <%= image_tag @movie.image, class: "card-img-top" %>
      <% else %>
        <div class="no-poster-placeholder">
          <p>No Poster</p>
        </div>
      <% end %>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%= @movie.title %></h5>
        <p class="card-text"><strong>Description:</strong> <%= @movie.description %></p>
        <p class="card-text"><strong>Movie Length:</strong> <%= @movie.movie_length %></p>
        <p class="card-text"><strong>Director:</strong> <%= @movie.director %></p>
        <p class="card-text"><strong>Release Date:</strong> <%= @movie.release_date %></p>
        <p class="card-text"><strong>Genre:</strong> <%= @movie.genre %></p>
      </div>
      <div class="d-flex justify-content-around mb-3">
        <%= link_to 'Review', movie_reviews_path(@movie), class: "btn btn-primary" %>
        <%= link_to 'Rating', movie_ratings_path(@movie), class: "btn btn-success" %>
        <%= link_to 'Edit', edit_movie_path(@movie), class: "btn btn-warning" %>
        <%= link_to 'Back', movies_path, class: "btn btn-secondary" %>
        <%= link_to 'Destroy', @movie, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
      </div>
    </div>
  </div>
</div>

