<%= form_with(model: [movie,@review]) do |form| %>
  <% if @review.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this comment from being saved:</h2>
      <ul>
        <% @review.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :comment %>
    <%= form.text_area :comment%>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>